body {
    background: #ffffff;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
}

#container {
    margin: 10px auto;
    max-width: 870px;
}

img {
    border: none;
}

h2 {
    background: #fdfdfd url('./images/header-background.png') repeat-x;
    border-top: 1px solid #abb6b9;
    color: #1d272d;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 8px 6px 15px;
}

h3 {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

h4 {
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

h4.see-more {
    text-align: right;
    padding-right: 1em;
}

.clear {
    clear: both;
}

.announcement {
    color: #007335;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.announcement a {
    color: #007335 !important;
}

.main-content {
    text-align: start;
}

.main-content p {
    line-height: 130%;
}

.main-content a, #footer a {
    color: #f14e00;
}

.main-content a:visited {
    border-bottom-color: #f17c44;
    color: #f17c44;
}

.main-content ul {
    list-style-image: url('./images/list-image2.png');
    padding-left: 40px;
    margin: 12px 0;
}

.main-content li {
    line-height: 130%;
    margin: 5px 0;
}


/* --------------- Navigation --------------- */
#brief-icon {
    float: left;
}

#brief-name {
    color: #f14e00;
    font-family: Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 70px;
}

#nav-container {
    font-family: Verdana, sans-serif;
    border-bottom: 4px double #10364d;
    margin: 0 0 2em 70px;
}

#navigation {
    background: #10364d;
    list-style: none;
    margin: 0;
    padding: 5px 1em;
}

#navigation li {
    display: inline;
}

#navigation a {
    color: #eaeaea;
    font-weight: normal;
    padding: 0 1em;
    text-decoration: none;
}

#navigation a:visited {
    color: #eaeaea;
}

#navigation a:hover {
    color: #ff8d54;
}

#navigation .nav-selected a {
    color: #ff8d54;
}

#footer {
    border-top: 1px dotted #1d272d;
    clear: both;
    line-height: 1.5em;
    margin-top: 7em;
    opacity: 0.7;
    text-align: center;
}

#footer p {
    margin-top: 5px;
}


/* --------------- Home page ------------------- */
#home {
    text-align: justify;
}


.home-right-col {
    float: right;
    width: 360px;
    margin-left: 10px;
}

.home-left-col {
    width: 480px;
}

#main-description {
    font-size: 14px;
}

#get-brief {
    background: url("./images/download.png") no-repeat;
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0 0 15px;
    padding: 0 0 1em 2.0em;
}

#get-brief a {
    border-bottom-width: 2px;
    }

#get-brief a:visited {
    color: #f14e00;
}

#whats-new {
    margin-top: 2em;
}

#more-info {
    clear: both;
}

#feedback p {
    line-height: 150%;
}

#feedback h3 {
    margin-top: 0;
}

/* --------------- Overview page --------------- */

#overview {
    padding-top: 20px;
}

.showcase-item {
    display: block;
    float: left;
    margin: 0 20px 10px 0;
    padding: 10px 10px 0 10px;
    width: 250px;
    height: 300px;
    text-decoration: none;
    color: #000000 !important;
}

.showcase-item img {
    opacity: 0.8;
}

.showcase-item:hover img {
    opacity: 1;
}

.showcase-item p {
    margin-top: 0;
    text-align: center;
}

.showcase-item img {
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #abb6b9;
}


/* -------------- Changelog page ----------------- */
#changelog {
    max-width: 60em;
}

.version {
    border-bottom: 1px solid #696969;
    margin-top: 1.5em;
}

.version h3 {
    margin-left: 3px;
}

.version > h3:before {
    content: url('./images/brief-icon-16x16.png');
}

.version-number {
    font-size: 16px;
    font-weight: bold;
}

.version-date {
    margin-left: 10px;
    font-weight: normal;
    font-size: 13px;
}

.version h4 {
    font-size: 13px;
    margin: 15px 5px 5px;
}


/* ------------ New version page ---------------- */
#new-version {
    max-width: 52em;
    margin: 0 auto 0;
}

#new-version h4 {
    font-size: 13px;
    margin: 15px 5px 5px;
}

#new-version h4.see-more {
    font-size: 14px;
}

#keyboard-shortcuts {
    border: 1px lightgray solid;
    font-size: 15px;
    float: right;
    margin: 0 10px 10px;
    padding: 10px;
}

#shortcuts-link {
    display: block;
    margin-top: 5px;
}

/* ---------- Style page--------------- */
#styles {
    max-width: 800px;
}

#styles p {
    max-width: 600px;
}

#styles pre {
    font-family: Courier New, sans-serif;
    background: #fafafc;
    font-size: 13px;
    border: 1px dashed black;
    padding: 5px;
}

/*-------- Shortcuts page ----------- */
#shortcuts-table {
    border-spacing: 0;
    margin: 0 auto;
}

#shortcuts-table td {
    padding: 3px 10px;
    border-bottom: 1px solid lightgray;
}

.shortcut-key {
    border-right: 1px solid lightgray;
    font-weight: bold;
    text-align: center;
}

.shortcuts-plain {
    font-weight: normal;
}

.shortucts-header {
    font-size: 14px;
    text-align: center;
    padding-top: 20px !important;
}
