body {
    font-family: Verdana, sans-serif;
    font-size: 62.5%;
}

h2 {
    background: #fdfdfd url('./images/header-background.png') repeat-x;
    border-top: 1px solid #abb6b9;
    color: #1d272d;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    margin-bottom: 0;
    padding: 8px 3px 20px;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    font-weight: normal;
}

pre {
    font-size: 1.2em;
}

.clear {
    clear: both;
}

.name-emphasis {
    font-weight: bold;
}

#main-content {
    text-align: start;
}

#main-content a {
    border-bottom: 1px solid #f14e00;
    color: #f14e00;
    text-decoration: none;
}

#main-content a:visited {
    border-bottom-color: #f17c44;
    color: #f17c44;
}


/* --------------- Navigation --------------- */
#brief-icon {
    float: left;
}

#brief-name {
    color: #f14e00;
    font-family: Arial, sans-serif;
    font-size: 2.7em;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 70px;
}

#nav-container {
    border-bottom: 4px double #10364d;
    margin: 0 0 0 70px;
}

#navigation {
    background: #10364d;
    font-size: 1.2em;
    list-style: none;
    margin: 0;
    padding: 5px 1em;
    width: 39em;
}

#navigation li {
    display: inline;
    margin: 0;
}

#navigation a {
    border-bottom: none;
    color: #eaeaea;
    font-weight: normal;
    padding: 0 1em;
    text-decoration: none;
}

#navigation a:visited {
    color: #eaeaea;
}

#navigation a:hover {
    color: #f65200;
}

#footer {
    border-top: 1px dotted #1d272d;
    margin-top: 3em;
}


/* --------------- Home page ------------------- */
#home {
    font-size: 1.4em;
}

#get-brief {
    background: url("./images/download.png") no-repeat;
    font-family: Arial, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 2em;
}

#get-brief a {
    border-bottom-width: 2px;
    }

#get-brief a:visited {
    color: #f14e00;
}

/* --------------- Overview page --------------- */

#features {
    float: left;
    width: 63%;
}

#features li {
    font-size: 1.2em;
    margin: 5px 0;
}

#screenshots {
    float: right;
    width: 35%;
}

#screenshots img {
    border: none;
    margin: 6px 6px 0 0;
}

#screenshots a {
    border: none;
}


/* -------------- Changelog page ----------------- */
.version {
    border-top: 1px dotted #1d272d;
    margin-top: 3em;
}

.version-number {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 3px;
}

.version > h3:before {
    content: url('./images/brief-icon-16x16.png');
}


/* ------------- Feedback page -------------------- */
#feedback {
    font-size: 1.2em;
}

/* ------------- Source Code page ----------------- */
#get-the-src {
    font-size: 1.2em;
}
